<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Available Jobs</title>
</head>
<body>

<h2>Available Approved Jobs</h2>

<table border="1" cellpadding="8">
    <thead>
    <tr>
        <th>Title</th>
        <th>Category</th>
        <th>Location</th>
        <th>Salary</th>
        <th>Deadline</th>
        <th>View</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="job : ${jobs}">
        <td th:text="${job.title}"></td>
        <td th:text="${job.category}"></td>
        <td th:text="${job.location}"></td>
        <td th:text="${job.salary}"></td>
        <td th:text="${job.deadline}"></td>

        <td>
            <a th:href="@{/student/jobs/{id}(id=${job.jobId})}">
                View Details
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
